@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');


@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 112px; 
}

body, 
a, a:hover, 
button, button:hover,
label, label:hover {
  cursor: url('https://derrint.sirv.com/Images/simple-duck-studios/home/cursor.png'), auto !important;	
}

.bg-black, 
.bg-black:hover, 
.use-white-cursor, 
.use-white-cursor:hover {
  cursor: url('https://derrint.sirv.com/Images/simple-duck-studios/home/cursor-inverted.png'), auto !important;	
}

@media only screen and (max-width: 1024px) {
  html {
    scroll-padding-top: 96px; 
  }
}

@media only screen and (max-width: 768px) {
  html {
    scroll-padding-top: 88px; 
  }
}